:root {
  --body-font: "Gentium Book Basic", serif;
  --title-font: "Alfa Slab One", serif;

  --spacing-tiny: 0.375rem;
  --spacing-small: 0.75rem;
  --spacing: 1.5rem;
  --spacing-large: 3rem;

  --affair: #784283;
  --gray: #898989;
  --pomegranate: #f44b1a;
  --pale-rose: #ffd8ec;
  --quill-gray: #d4d4d2;
  --red: #e5000c;
  --shark: #282b32;
  --white: #fff;
}
